<% if resource.respond_to?(:errors) && resource.errors.any? %>
  <% if resource.errors.has_key?(:api_connection) %>
    <% flash[:alert] = resource.errors.messages[:api_connection].first %>
  <% else %>
    <ul>
      <% resource.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
