<% if worker_signed_in? && !@worker_proposals.empty? %>
  <% @worker_proposals.select{ |proposal| proposal.canceled? || proposal.canceled? }.each do |proposal| %>
    <%= render 'show_proposal', proposal: proposal %>
  <% end %>
<% end %>

<% if employer_signed_in? %>
  <% if @employer_proposals_archive.empty? %>
    <div class="alert alert-info" role="alert">
      <%= t('projects.show._proposal.nothing') %>
    </div>
  <% else %>
    <% @employer_proposals_archive.each do |proposal| %>
      <%= render 'show_proposal', proposal: proposal %>
    <% end %>
  <% end %>
<% end %>
