<h4><%= Project.model_name.human + ' ' + t('.title') + ' ' + @query %></h4>
<% if @projects.nil? %>
  <p><%= t('.no_projects') + ' ' + @query %> </p>
<% else %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to t('links.initial_page'), root_path %>
